<div class="d-flex">
  <div class="m-auto d-flex">
      <app-navbar></app-navbar>
      <div class="ms-3 border p-3 bg-light">
          <h1>DWECL</h1>
          <h2>Angular exercises</h2>
          <hr>
          <app-ex01></app-ex01>
          <hr>
          <app-ex02></app-ex02>
          <hr>
          <app-ex03></app-ex03>
          <hr>
          <app-ex04></app-ex04>
          <hr>
          <app-ex05></app-ex05>
          <hr>
          <app-ex06></app-ex06>
          <hr>
          <app-ex07></app-ex07>
          <hr>
          <app-ex08></app-ex08>
          <hr>
          <app-ex09></app-ex09>
          <hr>
          <app-ex10></app-ex10>
      </div>
  </div>
</div>