<div class="border p-3 d-flex flex-column bg-light">
    <h3>Exercises</h3>
    <hr>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex01']" routerLinkActive="btn" >Ejercicio 1</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex02']" routerLinkActive="btn" >Ejercicio 2</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex03']" routerLinkActive="btn" >Ejercicio 3</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex04']" routerLinkActive="btn" >Ejercicio 4</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex05']" routerLinkActive="btn" >Ejercicio 5</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex06']" routerLinkActive="btn" >Ejercicio 6</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex07']" routerLinkActive="btn" >Ejercicio 7</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex08']" routerLinkActive="btn" >Ejercicio 8</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex09']" routerLinkActive="btn" >Ejercicio 9</a>
    <a class="fs-5 mb-3 text-dark link-underline link-underline-opacity-0" href="#" [routerLink]="['ex10']" routerLinkActive="btn" >Ejercicio 10</a>
</div>